<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%- title %></title>
    <link
      rel="shortcut icon"
      href="./assets/images/logo-white.png"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
    />
    <link rel="stylesheet" href="./assets/style/all.css" />
  </head>

  <body>
    <header class="bg-main">
      <nav class="container flex items-center justify-between">
        <a href="index.html" class="inline-block pt-4 pb-[15.43px]"
          ><img src="./assets/images/logo-white.png" class="w-20" alt="LOGO"
        /></a>
        <div
          class="material-symbols-outlined cursor-pointer select-none text-[40px] text-white md:hidden"
          id="hamburger-menu-icon"
        >
          menu
        </div>
        <ul
          class="absolute top-20 right-0 hidden w-full bg-gray-dark text-center text-lg md:static md:flex md:w-auto md:gap-x-16 md:bg-transparent md:text-base"
          id="menu-list"
        >
          <li class="border-b border-b-white md:border-b-0">
            <a
              href="product.html"
              class="block py-4 text-white hover:-translate-y-1"
              >系列鏡框</a
            >
          </li>
          <li class="border-b border-b-white md:border-b-0">
            <a
              href="store.html"
              class="block py-4 text-white hover:-translate-y-1"
              >門市據點</a
            >
          </li>
          <li class="border-b border-b-white md:border-b-0">
            <a
              href="blog.html"
              class="block py-4 text-white hover:-translate-y-1"
              >部落格</a
            >
          </li>
          <li class="border-b border-b-white md:border-b-0">
            <a
              href="faq.html"
              class="block py-4 text-white hover:-translate-y-1"
              >常見問題</a
            >
          </li>
        </ul>
      </nav>
    </header>

    <%- contents %>

    <footer class="bg-main py-6">
      <div
        class="container mb-8 flex items-start justify-between border-b border-b-white pb-6"
      >
        <div class="-ml-3">
          <ul class="hidden md:mb-[44.98px] md:flex md:gap-x-12">
            <li>
              <a href="index.html" class="block text-white md:hover:-translate-y-1"
                >首頁</a
              >
            </li>
            <li>
              <a
                href="product.html"
                class="block text-white md:hover:-translate-y-1"
                >系列鏡框</a
              >
            </li>
            <li>
              <a href="store.html" class="block text-white md:hover:-translate-y-1"
                >門市據點</a
              >
            </li>
            <li>
              <a href="blog.html" class="block text-white md:hover:-translate-y-1"
                >部落格</a
              >
            </li>
            <li>
              <a href="faq.html" class="block text-white md:hover:-translate-y-1"
                >常見問題</a
              >
            </li>
          </ul>
          <ul class="text-white">
            <li class="group marker:mb-2">
              <span
                class="material-symbols-outlined mr-[10px] align-middle md:text-4xl"
                >call</span
              ><a
                href="tel:0800-000-000"
                class="border-b border-b-transparent align-middle md:group-hover:border-b-white md:text-4xl"
                >0800-000-000</a
              >
            </li>
            <li class="group">
              <span
                class="material-symbols-outlined mr-[10px] align-middle md:text-4xl"
                >mail</span
              ><a
                href="mailto:glasses@business.com"
                class="border-b border-b-transparent align-middle md:group-hover:border-b-white md:text-4xl"
                >glasses@business.com</a
              >
            </li>
          </ul>
        </div>
        <ul class="-mr-3 flex items-center gap-x-2 md:gap-x-4 lg:gap-x-8">
          <li>
            <a href="#">
              <img
                src="./assets/images/ic-social-fb.png"
                class="h-6 w-6 md:hover:drop-shadow-[0_0_5px_#fff] md:h-10 md:w-10 lg:h-12 lg:w-12"
                alt="Facebook"
              />
            </a>
          </li>
          <li>
            <a href="#">
              <img
                src="./assets/images/ic_social_ig.png"
                class="h-6 w-6 md:hover:drop-shadow-[0_0_5px_#fff] md:h-10 md:w-10 lg:h-12 lg:w-12"
                alt="Instagram"
              />
            </a>
          </li>
          <li>
            <a href="#">
              <img
                src="./assets/images/ic_social_line.png"
                class="h-6 w-6 md:hover:drop-shadow-[0_0_5px_#fff] md:h-10 md:w-10 lg:h-12 lg:w-12"
                alt="Line"
              />
            </a>
          </li>
        </ul>
      </div>
      <div class="container md:flex md:justify-between">
        <p class="-ml-3 mb-2 text-white">
          Copyright © 2020 Glasses.All rights reserved.
        </p>
        <ul class="-ml-3 md:ml-0 md:-mr-3 md:flex md:items-center md:gap-x-12">
          <li class="mb-2 md:mb-0">
            <a href="#" class="block text-white md:hover:-translate-y-1"
              >隱私權政策</a
            >
          </li>
          <li>
            <a href="#" class="block text-white md:hover:-translate-y-1"
              >服務條款</a
            >
          </li>
        </ul>
      </div>
    </footer>
    <script src="./assets/js/all.js"></script>
  </body>
</html>
