@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Roboto", "Noto Sans TC", serif;
    @apply leading-normal;
  }

  a {
    @apply no-underline;
    transition: color 0.3s, background-color 0.3s, transform 0.3s;
  }

  img {
    @apply align-middle;
  }
}

@layer components {
  .form-group {
    @apply flex flex-col;
  }

  .form-group>label {
    @apply mb-2;
  }

  .form-group>input,
  .form-group>textarea {
    @apply py-[6px] px-3 mb-4 bg-main-light border border-black appearance-none focus:outline-none focus:ring-main-dark focus:ring-1;
  }

  /* header 連結底線 */
  .link {
    @apply lg:relative lg:after:left-0 lg:after:absolute lg:after:bottom-0 lg:after:h-[2px] lg:after:w-full lg:after:bg-white after:content-[''] lg:cursor-default lg:pointer-events-none;
  }

  /* tabs active 底線 */
  .active {
    @apply relative after:absolute after:bottom-0 after:left-0 after:h-2 after:w-full after:bg-main after:content-[''];
  }
}

@layer utilities {
  .max-h-65 {
    max-height: 260px;
  }
}